.textShadow-xl {
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.412);
}

.home-abt-0,
.home-abt-1 {
  font-size: 2.5rem;
  line-height: 1.3em;
  font-weight: 500;
}

.home-abt-2 {
  margin: 15px 0 10px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.50);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.slideRight {
  animation: .75s ease-in-out toRight;
}
.slideRight1 {
  animation: 1s ease-in-out toRight;
}
.slideRight2 {
  animation: 1.5s ease-in-out toRight;
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translateX(-1rem)
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slideBottom {
  animation: .75s ease-in-out toBottom;
}
.slideBottom1 {
  animation: 2s ease-in-out toBottom;
}

@keyframes toBottom {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon-animation {
  transition: background-color .3s, transform .2s;
}

.content-animation {
  transition: transform .2s;
}

.icon-animation:hover {
  color: black;
  background-color: #00FFFF;
  transition: background-color .3s, color .3s;
}

.icon-animation:hover>.content-animation {
  transform: scale(.8);
  transition: transform .3s;
}

.icon-animation-nav {
  position: relative;
  overflow: hidden;
  transition: color .4s;
}
.icon-animation-nav:hover {
  color: black;
  transition: color .4s;
}
.icon-animation-nav:hover .content-animation-nav::before {
  width: 100%; /* Quando o mouse está sobre, aumenta a largura para 100% */
}

.content-animation-nav::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #00FFFF;
  z-index: -1;
  transition: width 0.3s ease;
}

.loader-container {
  position: fixed;
  inset: 0;
  z-index: 10;
  width: 100vw;
  display: flex;
  flex-flow: column;
}

.loader-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  margin: auto;
  width: 10rem;
  height: 10rem;
  border: .7rem solid #00FFFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: .7s ease infinite alternate spinner;
}

@keyframes spinner {

  /* from {
    transform: rotate(0deg) scale(1);
  } */
  to {
    transform: rotate(1turn) scale(1.2);
  }
}

#projetos {
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
}

#projetos.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.figure {
  overflow: hidden;
  transform: scale(1);
}

.figure img {
  transition: transform .35s;
}

.figure:hover img {
  transform: scale(1.1);
  transition: transform .35s;
}

.figcaption::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(77, 77, 77, 0) 0%, rgb(0, 0, 0) 100%);
  opacity: 0;
  transition: opacity .35s ease-in-out;
}

.figure:hover .figcaption::before {
  opacity: 1;
}

.figcaption {
  opacity: 0;
  transition: opacity .5s;
}

.figure:hover .figcaption {
  opacity: 1;
  transition: opacity .5s;
}

.figcaption span button {
  transition: background .3s ease-in-out;
}

.animated-bg {
  background-image: url(/public/images/rain.gif);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 99;
  animation: playGif 2s infinite;
}

@keyframes playGif {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}