@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --font-title: 'Rubik', sans-serif;
  list-style-type: none;
  --azul-main: #00FFFF;
  --azul-escuro: #0094FF;
  --azul-fundo: #8FFFFF;
  --verde: #00FF1A;
  --amarelo: #FFC700;
  --laranja: #FF8A00;
  overflow-x: hidden;
}

@media screen and (max-width: 640px) {
  :root {
    font-size: 80%;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 150%;
  }
}

@media screen and (min-width: 2560px) {
  :root {
    font-size: 170%;
  }
}

@media screen and (min-width: 768px) {
  html {
    width: calc(100vw - 17px);
  }
}

body {
  transition: all .4s;
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
