@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  list-style-type: none;
}
body {
  background: #000;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.textShadow-xl {
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.412);
}

.home-abt-0, .home-abt-1 {
  font-size: 2.5rem;
  line-height: 1.3em;
  font-weight: 500;
}
.home-abt-2 {
  margin: 15px 0 10px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.50);
  letter-spacing: 3px;
  text-transform: uppercase;
}


