@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  list-style-type: none;
  --azul-main: #00FFFF;
  --azul-pastel: #8FFFFF;
  --verde: #00FF1A;
  --amarelo: #FFC700;
}

@media screen and (min-width: 768px) {
  html {
    width: calc(100vw - 17px);
    overflow-x: hidden;
  }
}

body {
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
