.textShadow-xl {
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.412);
}

.home-abt {
  margin: 15px 0 10px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.50);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.h-abt-0 {
  font-size: 2rem;
}

.h-abt-1 {
  font-size: 1.4rem;
}

.h-abt-2 {
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .home-abt {
    font-size: 1rem;
  }
}

.flash {
  opacity: initial;
  transition: .3s opacity;
}

.slideRight {
  animation: .75s ease-in-out toRight;
}

.slideRightSlow {
  animation: 1s ease-in-out toRight;
}

.slideRightSlower {
  animation: 1.5s ease-in-out toRight;
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translate3d(1rem, 0, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.slideTopSlower {
  animation: 4s ease-in-out toTop;
}

.slideTopSlow {
  animation: 2s ease-in-out toTop;
}

.slideBottom {
  animation: .75s ease-in-out toBottom;
}

.slideBottomSlow {
  animation: 2s ease-in-out toBottom;
}

@keyframes toTop {
  from {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes toBottom {
  from {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.slide-content-0 {
  animation: slide 20s linear infinite;
}

.slide-content-1 {
  animation: slide 20s linear infinite;
}

.slide-content-2 {
  animation: slide 20s linear infinite;
}

.content-animation {
  transition: transform .2s;
}

.icon-animation-nav {
  position: relative;
  overflow: hidden;
  transition: color .4s;
}

.icon-animation-nav:hover {
  transition: color .4s;
}

.icon-animation-nav:hover .content-animation-nav::before {
  width: 100%;
  /* Quando o mouse está sobre, aumenta a largura para 100% */
}

.content-animation-nav::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #00FFFF;
  z-index: -10;
  transition: width 0.3s ease;
}

.seta-animation {
  animation: 1.23s ease-out alternate-reverse infinite setaAnimation;
}

@keyframes setaAnimation {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(-30px);
  }
}

.loader-container {
  position: fixed;
  inset: 0;
  z-index: 10;
  width: 100vw;
  display: flex;
  flex-flow: column;
}

.loader-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  margin: auto;
  width: 10rem;
  height: 10rem;
  border: .7rem solid #00FFFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: .7s ease infinite alternate spinner;
}

@keyframes spinner {
  to {
    transform: rotate(1turn) scale(1.2);
  }
}

.figure {
  overflow: hidden;
  transform: scale(1);
}

.figure img {
  transition: transform .35s;
}

.figure:hover img {
  transform: scale(1.1);
  transition: transform .35s;
}

.figcaption::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, rgb(0, 0, 0) 100%);
  opacity: 0;
  transition: opacity .35s ease-in-out;
}

.figure:hover .figcaption::before {
  opacity: 1;
}

.figcaption {
  opacity: 0;
  transition: opacity .5s;
}

.figure:hover .figcaption {
  opacity: 1;
  transition: opacity .5s;
}

.figcaption span button {
  transition: background .3s ease-in-out;
}

.bg-img-rain {
  position: relative;
  overflow: hidden;
}

.bg-img-rain::before {
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  content: "";
  z-index: -30;
  background-size: cover;
  background-repeat: no-repeat;
  animation: 2s ease-in-out toBottom;
  background-image: url(/images/rain-nobg.png);
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}


.invert-img {
  transform: scaleY(-1);
  transition: display 2s;
}

.invert-color {
  filter: invert(1);
  transition: filter .2s;
}

.invert-color-hover {
  transition: filter .2s;
}

.invert-color-hover:hover {
  filter: invert(1);
  transition: filter .2s;
}

.invert-color-bg::before {
  transition: filter .2s;
}

.invert-color-bg::before {
  filter: invert(1);
  transition: filter .2s;
}

.animate {
  animation: 1.4s forwards ease-out toTopScroll;
}

@keyframes toTopScroll {
  from {
    opacity: 0;
    transform: translate3d(0, 3rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.gradient-title-white-0 {
  background-image: linear-gradient(to bottom, #000000, var(--verde));
}

.gradient-title-black-0 {
  background-image: linear-gradient(to bottom, #ffffff, var(--verde));
}

.gradient-title-white-1 {
  background-image: linear-gradient(to right, #000000, var(--amarelo));
}

.gradient-title-black-1 {
  background-image: linear-gradient(to right, #ffffff, var(--amarelo));
}

.gradient-title-white-2 {
  background-image: linear-gradient(to top, #000000, var(--azul-main));
}

.gradient-title-black-2 {
  background-image: linear-gradient(to top, #ffffff, var(--azul-main));
}

.gradient-title {
  -webkit-background-clip: text;
  color: transparent;
}

.flex-conteiner {
  gap: 2rem;
  opacity: 0;
}

@media screen and (min-width: 640px) {
  .flex-conteiner p {
    font-weight: 500;
  }
}

@media screen and (max-width: 640px) {
  .flex-conteiner p {
    grid-column-start: 1;
  }
}

.g-container-1 h1 {
  text-align: center;
  margin: 0 auto;
}

.g-container-2 h1 {
  text-align: right;
  margin-left: auto;
}

.grid-img {
  float: left;
  grid-column-start: 2;
}

.g-img-0 {
  float: left;
}

.g-img-1 {
  float: right;
}

@media screen and (max-width: 640px) {

  .g-container-0 h1,
  .g-container-2 h1 {
    text-align: center;
  }

  .g-img-0,
  .g-img-1,
  .g-img-2 {
    border-radius: 2em;
    float: initial;
    padding: 1em 0;
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (min-width: 640px) {

  .g-img-0,
  .g-img-2 {
    padding-right: 0.75rem;
  }
}